@import "/front/src/assets/fonts/Merriweather/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf";
@import "/front/src/assets/fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf";

:root {
  --main-color: #7c0007;
  --secondary-color: #8C5074;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
}


.footer-logo {
  height: 100px;
  object-fit: contain;
}

.container {
  flex: 1 1 auto;

}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 50px;
  margin-bottom: 60px;
  gap: 20px;
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #f5f5f5;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

nav {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.navbar-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links a:hover {
  background-color: #7c0007;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 2px;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-left: 0;
}

nav ul li {
  margin: 0;
}

.navbar {
  display: flex;
  font-family: "Merriweather", serif;
  align-items: center;
  font-size: 2em;
  gap: 0.3em;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Pie de página */
footer {
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 40px 50px;
  gap: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 8%;
  height: 100%;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 50px;
}

ul {
  list-style: none;
}

.footer-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.logo {
  width: auto;
}

.property-footer-title {
  margin-bottom: 0.4em;
  text-align: left;
}

.footer-bottom {
  margin-top: 20px;
}

.location-info {
  font-weight: 300;
  text-align: left;
}

.property-type {
  font-weight: 300;
  text-align: left;
}





/* -------------------RESPONSIVE -----------------*/

@media (max-width: 1300px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 10px;
    width: 100%;
  }

  .footer-logo {
    grid-column: span 2;
    text-align: center;
  }
}


@media (max-width: 764px) {
  * {
    overflow-x: hidden;
  }

  .navbar-title{
    display: none;
  }

  footer {
    flex-direction: column;
  }

  .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }

  .footer-logo {
    text-align: center;
  }

  .footer-logo-title {
    display: none;
  }
}

@media (max-width: 900px) {
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10px;
    width: 80px;
    height: 90px;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
  }

  .hamburger-menu.active {
    transition: background-color 0.3s ease; 
  }
  

  .nav-links {
    display: none;
    position: absolute;
    top: 90px;
    right: 30px;
    width: 120px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links li {
    list-style: none;
    margin: 10px 0;
  }

  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }


  .nav-links.show {
    display: block;
  }
}